In [1]:
import pandas as pd

label0_df = pd.read_csv('./label0_betti_curves')
label1_df = pd.read_csv('./label1_betti_curves')

In [2]:
label0_df

,file_name,H0,H1
0,156d1a14-bbb8-11e8-b2ba-ac1f6b6435d0_green.png,[ 1 6 17 23 35 45 57 76 92 110 121 1...,[ 1 2 8 18 28 51 73 88 95 99 117 1...
1,0969d07a-bba6-11e8-b2ba-ac1f6b6435d0_green.png,[ 1 7 15 26 30 34 35 35 35 35 35 ...,[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1...
2,12680f70-bbc4-11e8-b2bc-ac1f6b6435d0_green.png,[ 1 4 5 7 17 22 27 32 38 39 40 ...,[ 1 5 8 12 17 17 17 17 17 26 26 26 26 26 26 ...
3,0c20be96-bbc9-11e8-b2bc-ac1f6b6435d0_green.png,[ 1 7 14 22 26 26 28 36 49 ...,[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1...
4,06d620c2-bbae-11e8-b2ba-ac1f6b6435d0_green.png,[ 1 4 4 6 6 8 12 17 28 ...,[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1...
...,...,...,...
295,1ef542c8-bba9-11e8-b2ba-ac1f6b6435d0_green.png,[ 1 1 2 2 2 2 2 2 2 2 2 ...,[ 1 2 3 3 3 3 3 3 3 3 3 3 3 3 3 ...
296,089d48be-bba8-11e8-b2ba-ac1f6b6435d0_green.png,[ 1 5 17 32 34 34 34 34 37 ...,[ 1 1 2 5 6 6 6 6 7 10 11 ...
297,1b4a7b8e-bb9f-11e8-b2b9-ac1f6b6435d0_green.png,[ 2 2 2 2 3 3 6 11 18 ...,[ 1 2 2 2 7 17 20 26 28 38 43 ...
298,0cf202d4-bbc5-11e8-b2bc-ac1f6b6435d0_green.png,[ 1 1 3 6 6 8 11 11 11 11 14 ...,[2 4 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5...
299,05dad5a8-bbb0-11e8-b2ba-ac1f6b6435d0_green.png,[ 1 4 5 5 8 8 11 12 14 16 19 21 22 22 22 ...,[1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3...

In [3]:
label1_df

,file_name,H0,H1
0,7b4f65b8-bbc6-11e8-b2bc-ac1f6b6435d0_green.png,[ 1 2 2 4 4 5 6 10 15 ...,[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1...
1,2b2f2e8a-bbc4-11e8-b2bc-ac1f6b6435d0_green.png,[ 2 6 17 26 31 35 39 49 56 61 67 ...,[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
2,c8eaf9d2-bbca-11e8-b2bc-ac1f6b6435d0_green.png,[ 1 2 6 10 10 10 10 10 11 ...,[ 1 3 6 6 6 6 6 6 13 22 28 ...
3,50e05232-bbc2-11e8-b2bb-ac1f6b6435d0_green.png,[ 1 5 15 19 23 29 35 45 51 ...,[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2...
4,000c99ba-bba4-11e8-b2b9-ac1f6b6435d0_green.png,[ 2 9 17 28 46 62 88 119 141 ...,[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1...
...,...,...,...
266,82f6782a-bbca-11e8-b2bc-ac1f6b6435d0_green.png,[ 2 20 51 84 118 155 193 235 252 ...,[ 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 ...
267,fc744490-bbb9-11e8-b2ba-ac1f6b6435d0_green.png,[ 1 9 10 10 10 10 10 11 14 21 22 ...,[ 1 12 31 56 80 101 120 142 146 148 160 1...
268,4f88e5c6-bba8-11e8-b2ba-ac1f6b6435d0_green.png,[ 1 3 5 5 7 9 9 9 9 ...,[ 1 1 1 2 3 6 9 10 10 10 10 11 13 14 14 ...
269,45d38d90-bbc3-11e8-b2bc-ac1f6b6435d0_green.png,[ 1 2 3 5 5 5 5 8 10 10 11 ...,[ 1 2 7 8 11 11 11 11 11 11 11 11 11 11 11 ...
270,6a82da18-bbc5-11e8-b2bc-ac1f6b6435d0_green.png,[ 2 11 23 46 59 71 83 93 100 ...,[1 3 3 3 3 3 4 5 5 5 5 5 5 5 5 5 6 6 6 6 7 7 7...