In [40]:
import pandas as pd
import numpy as np

label0_df = pd.read_csv('./label0_betti_curves')
label1_df = pd.read_csv('./label1_betti_curves')

In [23]:
df = pd.concat([label0_df, label1_df])
df = df.drop(columns=['file_name'])
labels = [0]*len(label0_df) + [1]*len(label1_df)
df['labels'] = labels
df

,H0,H1,labels
0,[ 1 6 17 23 35 45 57 76 92 110 121 1...,[ 1 2 8 18 28 51 73 88 95 99 117 1...,0
1,[ 1 7 15 26 30 34 35 35 35 35 35 ...,[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1...,0
2,[ 1 4 5 7 17 22 27 32 38 39 40 ...,[ 1 5 8 12 17 17 17 17 17 26 26 26 26 26 26 ...,0
3,[ 1 7 14 22 26 26 28 36 49 ...,[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1...,0
4,[ 1 4 4 6 6 8 12 17 28 ...,[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1...,0
...,...,...,...
266,[ 2 20 51 84 118 155 193 235 252 ...,[ 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 ...,1
267,[ 1 9 10 10 10 10 10 11 14 21 22 ...,[ 1 12 31 56 80 101 120 142 146 148 160 1...,1
268,[ 1 3 5 5 7 9 9 9 9 ...,[ 1 1 1 2 3 6 9 10 10 10 10 11 13 14 14 ...,1
269,[ 1 2 3 5 5 5 5 8 10 10 11 ...,[ 1 2 7 8 11 11 11 11 11 11 11 11 11 11 11 ...,1
270,[ 2 11 23 46 59 71 83 93 100 ...,[1 3 3 3 3 3 4 5 5 5 5 5 5 5 5 5 6 6 6 6 7 7 7...,1

In [46]:
from sklearn.model_selection import train_test_split

X = df.drop(columns='labels').values
y = df['labels'].to_numpy()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

[['[  1   6  17  23  35  45  57  76  92 110 121 130 137 148 152 163 163 163\n 164 169 178 184 196 200 204 207 218 225 230 238 252 286 315 331 345 346\n 357 365 376 384 392 398 408 416 431 470 504 540 570 619 644 666 690 709\n 729 746 759 775 804 832 836 844 854 854 854 854 854 854 854 854 854 854\n 854 854 854 854 854 854 854 854 854 854 854 854 854 854 854 854 854 854\n 854 854 854 854 854 854 854 854 854   0]'
  '[  1   2   8  18  28  51  73  88  95  99 117 132 153 167 169 169 169 169\n 169 169 169 169 169 169 169 169 170 183 195 207 220 223 227 230 233 242\n 243 245 252 269 282 304 309 309 314 328 352 377 399 405 415 424 429 438\n 446 462 471 472 473 482 493 504 504 504 504 504 504 504 504 504 504 504\n 504 504 504 504 504 504 504 504 504 504 504 504 504 504 504 504 504 504\n 504 504 504 504 504 504 504 504 504   0]']
 ['[  1   7  15  26  30  34  35  35  35  35  35  35  35  35  35  35  35  35\n  36  37  41  46  49  54  65  80  97 102 104 104 105 109 130 157 188 225\n 270 302 334 356 376 397 400 401 402 411 430 455 480 507 527 543 548 553\n 556 558 563 566 568 579 585 591 591 591 591 591 591 591 592 597 601 608\n 621 631 647 664 681 700 712 722 726 727 727 728 730 731 739 748 752 755\n 757 757 760 766 778 787 787 791 792   0]'
  '[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1\n 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1\n 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0]']
 ['[  1   4   5   7  17  22  27  32  38  39  40  42  42  42  42  42  43  56\n  67  74  73  73  73  73  73  76  86  93 109 117 129 144 145 151 158 163\n 170 184 201 208 219 239 255 265 280 297 316 339 368 396 417 441 455 463\n 470 479 493 513 532 552 559 559 560 560 560 560 560 560 560 560 561 563\n 565 567 567 567 567 567 567 567 567 567 567 567 567 567 567 567 567 567\n 567 567 567 568 568 568 568 568 568   0]'
  '[ 1  5  8 12 17 17 17 17 17 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26\n 26 26 27 29 29 31 42 43 43 43 43 43 43 43 43 43 44 44 44 44 46 46 47 47\n 47 47 47 48 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50\n 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50\n 50 50 50  0]']
 ...
 ['[   1    3    5    5    7    9    9    9    9    9    9    9    9    9\n    9    9    9    9    9   11   18   20   21   24   27   42   60   79\n   91  113  132  157  168  195  222  256  314  362  406  458  511  538\n  559  588  606  614  636  665  697  737  776  814  854  897  941  982\n 1024 1064 1099 1133 1175 1202 1228 1249 1265 1279 1295 1319 1337 1347\n 1362 1379 1394 1410 1426 1439 1449 1469 1482 1499 1512 1524 1542 1546\n 1556 1559 1560 1562 1563 1565 1565 1565 1567 1574 1585 1591 1601 1605\n 1605    0]'
  '[ 1  1  1  2  3  6  9 10 10 10 10 11 13 14 14 14 15 22 29 33 36 38 44 45\n 46 46 47 48 48 48 48 50 51 55 55 55 56 56 56 57 59 59 60 62 63 66 69 71\n 71 71 72 72 72 73 74 74 74 74 74 74 75 75 78 80 80 80 81 83 84 84 84 84\n 86 87 87 88 88 90 91 91 92 92 92 92 92 92 92 92 92 92 92 92 92 92 92 92\n 92 92 92  0]']
 ['[  1   2   3   5   5   5   5   8  10  10  11  13  20  28  38  47  53  57\n  57  57  61  63  67  67  67  67  67  67  69  74  79  83  89  95 105 116\n 125 133 136 145 156 157 164 168 174 180 197 204 212 234 249 261 276 283\n 287 292 304 308 311 316 321 327 328 329 329 333 336 343 347 359 381 395\n 407 415 426 429 433 433 433 433 433 433 433 433 433 433 433 433 433 433\n 433 433 433 433 433 433 433 433 433   0]'
  '[ 1  2  7  8 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11\n 11 13 14 14 14 14 14 15 17 19 19 19 20 20 20 20 21 22 26 26 26 26 26 26\n 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 26 27 27\n 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27 27\n 27 27 27  0]']
 ['[   2   11   23   46   59   71   83   93  100  118  142  168  193  225\n  251  276  310  337  367  381  402  419  439  451  465  482  493  510\n  525  537  555  572  589  600  617  635  657  689  721  756  792  838\n  874  911  958  982 1004 1017 1028 1045 1061 1067 1069 1069 1069 1069\n 1069 1069 1069 1069 1069 1069 1069 1069 1069 1069 1069 1077 1083 1088\n 1098 1107 1119 1133 1146 1155 1170 1185 1197 1209 1219 1222 1223 1223\n 1223 1223 1223 1223 1223 1223 1223 1223 1223 1223 1223 1223 1223 1223\n 1223    0]'
  '[1 3 3 3 3 3 4 5 5 5 5 5 5 5 5 5 6 6 6 6 7 7 7 7 7 7 7 7 7 7 7 8 8 8 8 8 8\n 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 9 9\n 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 0]']]

In [45]:
X_train

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [36]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(X_test, y_test)

ValueError: could not convert string to float: '[  2  10  15  23  30  34  41  49  57  64  69  73  73  73  73  73  73  73\n  74  80  86  95 111 124 142 155 166 176 182 189 200 207 218 232 254 269\n 283 288 293 293 300 303 304 306 315 322 327 342 362 376 393 403 417 425\n 433 443 444 450 452 458 457 463 468 475 484 489 490 491 491 491 492 493\n 494 499 505 512 519 525 530 534 537 539 541 541 541 541 541 541 541 541\n 541 541 541 541 541 541 541 541 541   0]'